# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!wp-content/
!test/
!_build/
!wp-config.php
!composer.json
!package*
!composer.lock
!onlinetest*

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/
!wp-content/languages/

# Ignore everything in the "plugins" directory, except the plugins you
# specify (see the commented-out examples for hints on how to do this.)
wp-content/plugins/*
!wp-content/plugins/vnj-admin-tools/
# !wp-content/plugins/my-directory-plugin/

# Ignore everything in the "themes" directory, except the themes you
# specify (see the commented-out example for a hint on how to do this.)
wp-content/themes/*
!wp-content/themes/hamzahshop/

wp-content/languages/*
!wp-content/languages/woocommerce-memberships/
!wp-content/languages/plugins/

wp-content/languages/plugins/*
!wp-content/languages/plugins/woocommerce-subscriptions-fr_FR.po

test/node_modules